/**=================================================================================
/** ██████╗░██████╗░██╗░░░██╗░█████╗░███╗░░██╗██╗░██████╗
/** ██╔══██╗██╔══██╗╚██╗░██╔╝██╔══██╗████╗░██║╚█║██╔════╝
/** ██████╦╝██████╔╝░╚████╔╝░███████║██╔██╗██║░╚╝╚█████╗░
/** ██╔══██╗██╔══██╗░░╚██╔╝░░██╔══██║██║╚████║░░░░╚═══██╗
/** ██████╦╝██║░░██║░░░██║░░░██║░░██║██║░╚███║░░░██████╔╝
/** ╚═════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚══╝░░░╚═════╝░
/** 
/** ░█████╗░██████╗░░██████╗██╗██████╗░██╗░█████╗░███╗░░██╗  ░█████╗░░██████╗░██████╗
/** ██╔══██╗██╔══██╗██╔════╝██║██╔══██╗██║██╔══██╗████╗░██║  ██╔══██╗██╔════╝██╔════╝
/** ██║░░██║██████╦╝╚█████╗░██║██║░░██║██║███████║██╔██╗██║  ██║░░╚═╝╚█████╗░╚█████╗░
/** ██║░░██║██╔══██╗░╚═══██╗██║██║░░██║██║██╔══██║██║╚████║  ██║░░██╗░╚═══██╗░╚═══██╗
/** ╚█████╔╝██████╦╝██████╔╝██║██████╔╝██║██║░░██║██║░╚███║  ╚█████╔╝██████╔╝██████╔╝
/** ░╚════╝░╚═════╝░╚═════╝░╚═╝╚═════╝░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝  ░╚════╝░╚═════╝░╚═════╝░
/**==================================================================================*/

/** ----- TABLE OF CONTENTS ----- */

/** .. 1. Default Theme */
/** .. 2. Custom CSS Section */

/** .... 2.1 Bullet Points */
/** ...... 2.1.1 Bullet Point Relationship Lines -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/2 */
/** ...... 2.1.2 tasklist (preview) indentation lines correction -- https://forum.obsidian.md/t/bullet-lines-in-css-for-checkboxes/6262/3 */
/** ...... 2.1.3 Better Bullet Points In Edit Mode https://forum.obsidian.md/t/clutter-free-edit-mode/6791/30 */
/** ...... 2.1.4 Bullet points in preview -- https://discord.com/channels/686053708261228577/702656734631821413/772094128832905226 */

/** .... 2.2 File Navigation Pane */
/** ...... 2.2.1 Relationship lines for the folder levels in file navigation: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/112 */
/** ...... 2.2.2 Custom icons differing files and folders -- https://discordapp.com/channels/686053708261228577/702656734631821413/755293685046050896 */

/** .... 2.3 Clutter Free Mode */
/** ...... 2.3.1 Make subtler folding gutter arrows -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/10 */
/** ...... 2.3.2 Hide Block Reference ID's -- https://discord.com/channels/686053708261228577/716028884885307432/769267134114037871 */
/** ...... 2.3.3 Shortened Url Links -- https://forum.obsidian.md/t/hide-or-truncate-urls-in-editor-using-css/359/3 */
/** ...... 2.3.4 highlight (==) not visible anymore if not active line -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/221 */

/** .... 2.4 Font Formatting */
/** ...... 2.4.1 Make Mathjax Font Larger */
/** ...... 2.4.2 Hyphenation & Justification -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/25 */
/** ...... 2.4.3 Stylish Block Quotes -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/39 */
/** ...... 2.4.4 General Font Formatting */

/** .... 2.5 Graph Formatting */
/** ...... 2.5.1 Graph View CSS -- https://discordapp.com/channels/686053708261228577/702656734631821413/760488978691784705 */

/** .... 2.6 Image Manipulation */
/** ...... 2.6.1 Image Hover Grow -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/29 */

/** .... 2.7 Check Boxes */
/** ...... 2.7.1 Nicer Round Checkboxes -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/34 */
/** ...... 2.7.2 Animated Check Boxes -- https://github.com/TriDiamond/Obsidian-Obsidianite/blob/82207bed4313ee0e6f0bb1fd59b04129408018f5/obsidian.css#L463 */

/** .... 2.8 Tags */
/** ...... 2.8.1 Tag Pills -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/72 */

/** .... 2.9 [[Link]] Modification */
/** ...... 2.9.1 Bigger Link Hover Popup Preview -- https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/175 */

/** .... 2.10 Plugin Specific CSS */
/** ...... 2.10.1 Calendar Plugin CSS */

/** .... 2.11 Heading Formatting */
/** ...... 2.11.1 Heading Under Gradient Line -- https://github.com/TriDiamond/Obsidian-Obsidianite */
/** ...... 2.11.2 Emoji Orientation in Andy Mode Headers -- https://discord.com/channels/686053708261228577/702656734631821413/775900471406624768 */

/** .... 2.12 Horizontal Rule Formatting */
/** ...... 2.12.1 Aesthetic Horizontal Rule -- https://github.com/TriDiamond/Obsidian-Obsidianite */

/** .... 2.13 PDF Export Formatting */
/** ...... 2.13.1 Page Break -- https://gist.github.com/liamcain/81679412643690a7cdd13dff4dc909ce */

/** .... 2.14 Tables */
/** ...... 2.14.1 Banded Table Rows -- https://discord.com/channels/686053708261228577/702656734631821413/777106171948564500 */

/** .. 3. Grave Yard */
/* ============================================================================================================================================================ */

/* 1. Default Theme */

@charset "UTF-8";
:root {
  --default-font: 'Aller', sans-serif;
  --quattro-font: 'iA Writer Quattro V', 'iA Writer Quattro S', sans-serif;
  --font-monospace: 'iA Writer Mono V', 'iA Writer Mono S', monospace;

  --red: #ff4971;
  --dark-red: #df4576;
  --light-red: #ff98a4;
  --green: #c3e872;
  --lime-green: #079992;
  --aqua: #17e3c8;
  --yellow: #ffc777;
  --dark-blue: #4976eb;
  --blue: #2e77fd;
  --sky-blue: #50c4fa;
  --cyan: #34ace0;
  --purple: #c099ff;
  --pink: #fca7ea;
  --indigo: #7a88cf;
  --orange: #ff966c;
  --dark-orange: #fc7b7b;

  --frost0: #8fbcbb;
  --frost1: #88c0d0;
  --frost2: #81a1c1;
  --frost3: #5e81ac;
}

.theme-dark {
  --background-code-preview: #222436;
  --background-code: #222436;
  --background-modifier-border: #1e2030;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --background-modifier-form-field-highlighted: #444a73;
  --background-modifier-form-field: #2f334d;
  --background-preview: #0f111a;
  --background-primary-alt: #0f111a;
  --background-primary: #0f111a;
  --background-quick: #191a2a;
  --background-secondary-alt: #0f111a;
  --background-secondary: #0f111a;
  --background-tag: #131421;
  --file-hr: #a9b8e8;
  --interactive-accent-hover: #828bb8;
  --interactive-accent-rgb: 134, 225, 252;
  --interactive-accent: #444a73;
  --leaf-handle: #a9b8e8;
  --menu-selection-text: #e2e8fa;
  --menu-selection: #444a73;
  --scrollbar-active-thumb-bg: #444a73;
  --scrollbar-bg: inherit;
  --scrollbar-thumb-bg: #2f334d;
  --table-line: #828bb8;
  --text-accent-hover: var(--purple);
  --text-accent: #50c4fa;
  --text-error: #ff98a4;
  --text-faint: $text-dark;
  --text-highlight-bg: rgba(252, 167, 234, 0.2);
  --text-link: #268bd2;
  --text-muted: #a9b8e8;
  --text-normal: #c8d3f5;
  --text-on-accent: #e2e8fa;
  --text-selection: rgba(252, 167, 234, 0.2);
  --text-tag: #7a88cf;
}

.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-formatting-highlight,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-formatting-header,
.cm-s-obsidian .cm-formatting-link,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd,
.CodeMirror span.hmd-hidden-token.cm-formatting-em,
.CodeMirror span.hmd-hidden-token.cm-formatting-strong,
.CodeMirror span.hmd-hidden-token.cm-formatting-strikethrough,
.CodeMirror span.hmd-hidden-token.cm-formatting-code,
.CodeMirror span.hmd-hidden-token.cm-formatting-link,
.editor,
.hidden-token,
.cm-s-obsidian span.cm-formatting-task,
.cm-s-obsidian span.cm-formatting-list,
.cm-s-obsidian span.cm-formatting-quote {
  font-family: var(--font-monospace);
}

button input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
.splash-brand-name,
.dropdown,
.setting-hotkey,
.suggestion-hotkey {
  /* font-size: 13px; */
  /* font-family: var(--default-font); */
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  font-size: 13px;
}

/* Fix Font sizes */
/* html, 
body,
.search-empty-state,
.page-title,
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6,
.cm-s-obsidian pre.HyperMD-codeblock,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6,
.markdown-preview-view code {
	font-size: 16px;
	line-height: 26px;
} */

html,
body {
  font-size: 16px !important;
  font-family: var(--default-font); /** Remove this to return body font back to normal */
}

/* bold in preview and editor */
strong,
.cm-strong {
  font-weight: 600;
  color: var(--dark-red);
}

/* emphasis in preview and editor */
em,
.cm-em {
  color: var(--yellow);
  font-style: italic;
  font-weight: 600 !important;
}

/* strikethrough in preview and editor */
s,
.cm-strikethrough {
  color: var(--text-muted);
}

.cm-header-1,
.markdown-preview-section h1 {
  font-weight: 500 !important;
  font-size: 34px !important;
  /* color: var(--text-title-h1) !important; */
  font-family: 'FiraSans-ExtraBold' !important;
}

.cm-header-2,
.markdown-preview-section h2 {
  /* font-weight: 500 !important; */
  font-size: 26px !important;
  color: var(--blue);
  font-family: 'FiraSans-Bold' !important;
}

.cm-header-3,
.markdown-preview-section h3 {
  font-weight: 500 !important;
  font-size: 22px !important;
  color: var(--text-title-h3) !important;
  font-family: 'FiraSans-ExtraBold' !important;
}

.cm-header-4,
.markdown-preview-section h4 {
  font-weight: 500 !important;
  font-size: 20px !important;
  color: var(--text-title-h4) !important;
}

.cm-header-5,
.cm-header-6,
.markdown-preview-section h5,
.markdown-preview-section h6 {
  font-weight: 500 !important;
  font-size: 18px !important;
  color: var(--text-title-h5) !important;
}

.cm-s-obsidian .cm-formatting,
.cm-s-obsidian .CodeMirror-foldmarker {
  color: #7a88cf !important;
}

/* Links and footnotes */
/* .markdown-preview-view a {
  color: #c3e88d !important;
} */

/* .markdown-preview-view a.footnote-link {
  color: #c3e88d !important;
  text-decoration: none;
} */

.markdown-preview-view section.footnotes {
  font-size: 14px;
}

.cm-s-obsidian .cm-formatting-link,
.cm-s-obsidian .cm-link {
  color: #82aaff !important;
}
.cm-s-obsidian .cm-formatting-link-string,
.cm-s-obsidian .cm-url {
  color: #ff966c !important;
}
.cm-s-obsidian span.cm-hmd-internal-link {
  color: #c3e88d !important;
  font-family: var(--quattro-font);
  font-size: 14px;
  font-weight: 500 !important;
}
