$pale-magenta: #f78ae0;
$dodger-blue: #199ffd;
$chambray: #4e5579;
$vulcan: #0c1420;
$light-slate-blue: #8c62fd;
$radical-red: #fc4a6d;
$majorelle-blue: #6638f0;
$sea-green: #23974a;
$maya-blue: #5cc9f5;
$lochmara: #366f9a;
$crayon-red: #f81141;
$shamrock: #4af2a1;
$blue: #285bff;
$pistachio: #9ece6a;
$spun-pearl: #a5a7bd;
$cabaret: #df4576;
$radical-red: #ff5370;
$bunker: #0f111a;
$froly: #f7768e;
$grandis: #ffcb6b;
$pink-orange: #ff9e64;
$equator: #e0af68;
$ochre: #c97018;
$mariner: #3d59a1;
$caribbean-green: #27e8a7;
$jordy-blue: #82aaff;
$jungle-green: #32ae85;
$echo-blue: #a6accd;
$inch-worm: #b0f566;
